################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WPF_Project/.vs/WPF_Project/FileContentIndex/db2b0c6f-bf67-4318-9a23-aea6ce85cd1c.vsidx
/WPF_Project/.vs/WPF_Project/FileContentIndex/49a125f4-acb0-447a-b93f-b359819feddf.vsidx
/WPF_Project/.vs/WPF_Project/FileContentIndex/6dc2f071-351a-4015-bddf-715c66982123.vsidx
/WPF_Project/.vs/WPF_Project/FileContentIndex/db2b0c6f-bf67-4318-9a23-aea6ce85cd1c.vsidx
/WPF_Project/.vs/WPF_Project/FileContentIndex/8493c798-2eef-4bfe-94ee-3e2c85013746.vsidx
/WPF_Project/.vs/WPF_Project/FileContentIndex/9709518f-0c19-45c7-84ed-8c6c4c273ddd.vsidx
